@page
@model NumbersFinal.Pages.NumbersList.ErrorModel

<div class="center offset-2" >
    <img src="https://i1.wp.com/boingboing.net/wp-content/uploads/2011/12/404.jpg?w=750" />
    <p class="offset-2">If you are seeing this it's because you entered an invalid ID</p>
    <a asp-page="Calculator" class="btn btn-success form-control col-4 offset-3">Back to Calculator</a>
</div>
